.row {
    display: flex;
    height: 30px;
    flex-direction: row;
    border-top: 0.5px dotted white;
    justify-content: space-between;
    transition: 0.2s ease-in-out height;
    flex-shrink: 0;
}

.col {
    width: 30px;
    border-left: 0.5px dashed white;
    transition: 0.2s ease-in-out width;
}


.row:nth-of-type(4n + 0){
    border-color: rgb(161, 151, 139);
    border-width: 2px;
}

.col:nth-of-type(4n + 0){
    border-color: rgb(161, 151, 139);
}

.col:hover {
    width: 20px;

}
.row:hover {
    height: 40px;
}

.threads {
    border: 0.5px dashed white;
    display: flex;
    flex-direction: column;
    width: 80vw;
    
}

body {
    background-image: linear-gradient(to bottom, rgb(161, 151, 139), white);
    display: flex;
    flex-direction: column;
    justify-content: top;
    margin: 10px;
    flex-shrink: 0;
    background-repeat: no-repeat;
}

.threads:nth-of-type(even) {
    position: absolute;

    top: 0px;
    
    transform: skewY(-10deg); 
}

.fold {
    position: relative;
    margin: auto;
    
}
